body {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1590907047706-ee9c08cf3189?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2680&q=80");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom;
  font-family: "Asap", sans-serif;
  color: white;
}
img {
  max-width: 100%;
  max-height: 400px;
}
h1 {
  font-family: "Megrim", cursive;
  font-size: 6vw;
}
h3 {
  font-family: "Megrim", cursive;
  font-size: 3vw;
}
li {
  float: left;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.05em;
}
.row {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 70vw;
}
.intro {
  margin-bottom: 30px;
  line-height: 200%;
}
.inputArea {
  padding-bottom: 30px;
}
.results {
  display: none;
  padding-bottom: 30px;
}
.btn {
  background-color: rgb(19, 112, 108);
  width: 100%;
}
.form-group {
  width: auto;
}
.list-group-item {
  background-color: rgba(0, 0, 0, 0.521);
  list-style-type: none;
  overflow: hidden;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.349);
  margin-bottom: 30px;
}
#imgDiv1,
#imgDiv2,
#imgDiv3 {
  display: none;
  z-index: -1;
}
#oops {
  display: none;
}
